body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  background-color: #F7F6F2;
}

button {
  padding: 30px 10px;
  min-width: 250px;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  border: 3px solid #000;
}

button:hover {
  cursor: pointer;
}

button#start {
  background-color: #00501f;
  color: #00ef83;
  border-color: #00ef83;
}

button#stop {
  background-color: #9f0049;
  color: #ff7d80;
  border-color: #ff7d80;
}

.viam-logo {
  background-image: url(/assets/powered-by-viam.png);
  background-repeat: no-repeat;
  width: 50%;
  height: 50px;
  background-size: contain;
  background-position: center;
  margin: auto;
  margin-top: 50px;
}

.detection-label {
  font-weight: 700;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: min-content;
}

.flex-column-center>p {
  font-size: 20px;
}

div #detectionsView {
  height: 480px;
  width: 640px;
  border: black solid 3px;
  border-radius: 5px;
}

div #itemInfo {
  width: 600px;
}

.pad-top {
  margin-top: 50px;
}

.centered {
  text-align: center;
  align-self: center;
}

canvas {
  height: auto;
  width: 100%;
}
